{% extends '::base.html.twig' %}

{% block body -%}
    {% block stylesheets %}
        {{ parent() }}
        <link href="{{ asset('bundles/stepanovmarket/css/login.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('bundles/stepanovmarket/css/colors-theme-prod.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('bundles/stepanovmarket/css/main.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}
<div class="prod">
    <h1>Категория</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('cat_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('cat_show', { 'id': entity.id }) }}">Просмотреть</a>
                    </li>
                    <li>
                        <a href="{{ path('cat_edit', { 'id': entity.id }) }}">Редактировать</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('cat_new') }}">
               Создать новую категорию
            </a>
        </li>
    </ul>
</div>
    {% endblock %}
